[submodule "cmake/vnecmake"]
	path = cmake/vnecmake
	url = https://github.com/vertexnova/vnecmake.git
[submodule "deps/external/googletest"]
	path = deps/external/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/internal/vnecommon"]
	path = deps/internal/vnecommon
	url = https://github.com/vertexnova/vnecommon.git
[submodule "deps/internal/vnelogging"]
	path = deps/internal/vnelogging
	url = https://github.com/vertexnova/vnelogging.git
[submodule "deps/internal/vnerhi"]
	path = deps/internal/vnerhi
	url = git@github.com:vertexnova/vnerhi.git
[submodule "deps/internal/vnemath"]
	path = deps/internal/vnemath
	url = https://github.com/vertexnova/vnemath.git
[submodule "deps/internal/vnegfx"]
	path = deps/internal/vnegfx
	url = git@github.com:vertexnova/vnegfx.git
